*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
	text-decoration: none;
}

.container{
	width: 1024px;
	margin: 0 auto;
}


header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}

.header-group{
	display: flex;
	justify-content: space-between;
}

.logo_img{
	height: 70px;
}

.nav_ul{
	display: flex;
}

ul.nav_ul {}

.nav_li{
	width: 120px;
	line-height: 70px;
	color: #FAFAFA;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
}

.nav_li a{
	color: #FAFAFA;
}

.main_section{
	background-image: url("img/mv.png");
	height: 650px;
	width: 100%;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.main_section p{
 color: #FAFAFA;
}

.main_section_font1{
	padding-top: 200px;
	font-size: 64px;
}

.main_section_font2{
	padding-top: 10px;
	font-size: 20px;
}